on: issue_comment

jobs:
  pr_commented:
    name: Rebase on master
    if: ${{ github.event.issue.pull_request }} && ${{ github.event.comment.body == 'rebase_main' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git checkout ${GITHUB_REF}
          git rebase main
          git push -f origin ${GITHUB_REF}
